body {
	background-color: #fff;
	color: #333;
	font-family: Verdana, sans-serif;
}

h1 {
	display: block;
	width: 100%;
	text-align: center;
	background-image: url("../images/main-heading-tile.jpg");
	background-repeat: repeat-x;
}

h1 img {
	margin: 0 auto;
	height: 158px;
}

h2 {
	font-size: 2.6em;
	color: #ee2b7a;
	margin: 0.8em 0 0 0;
}

h3 {
	margin: 0.5em 0;
	font-size: 2em;
}

p {
	font-size: 1em;
	margin-bottom: 1em;	
}

.below_nav {
	margin-top: 158px
}

.section_image {
	background-color: #000
}

.section_image img {
	margin: 0 auto;
	width: 100%;
}

@media only screen and (min-width: 801px) {
    .fixed-top-heading {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}
}

@media only screen and (max-width: 800px) {
    h1 img {
		height: 100px;
	}

	p {
		font-size: 90%;
	}

	h2 {
        font-size: 1.9em;
    }

    h3 {
    	font-size: 1.4em;
    }

    h1 {
    	background-size: 6px 100px
    }

	.below_nav {
		margin-top: -8px;
	}
}